@main-button-color: #6afff3;
@main-logo-color: #fff38e;
@main-background-color: #141526;
@main-width: 1232px;
@border-radius: 2px;

@font-face {
	font-family: 'OpenSansRegular';
	src: url('/fonts/OpenSansRegular.ttf');
	font-style: normal;
	font-weight: normal;
}

::-webkit-scrollbar {
	width: 10px;
	&-button {
		display: none;
	}
	&-track {
		background-color: @main-background-color;
	}
	&-thumb {
		border: 1px solid rgba(255, 255, 255, 0.113);
		background-color: rgba(255, 255, 255, 0.055);
	}
}

.body {
	margin: 0;
	padding: 0;
	background-color: @main-background-color;
	//color: white;
	color: rgba(255, 255, 255, 0.45);
	font-size: 14px;
	font-family: OpenSansRegular;
}

.header {
	position: relative;
	display: block;
	margin: 0 auto;
	width: @main-width;
	&_inner {
		width: @main-width;
		background: @main-background-color;
	}
	&_fixed {
		position: fixed;
		z-index: 100;
		border-bottom: 1px solid rgba(255, 255, 255, 0.113);
	}
	&__logo {
		margin: 20px 0 42px 0;
		color: @main-logo-color;
		font-size: 48px;
		line-height: 50px;
		&:first-letter {
			font-size: 60px;
		}
	}
	&__description {
		margin: 5px 0 20px 0;
		font-size: 12px;
		font-style: italic;
	}
}

.footer {
	position: relative;
	display: block;
	margin: 0 auto;
	width: @main-width;
	&_inner {
		padding: 10px 0;
		width: @main-width;
		background: @main-background-color;
	}
	&_fixed {
		box-sizing: border-box;
		position: fixed;
		bottom: 0;
		z-index: 100;
		border-top: 1px solid rgba(255, 255, 255, 0.113);
		height: 59px;
	}
}

.main {
	display: block;
	margin: 0 auto;
	padding: 264px 0 39px;
	width: @main-width;
}

.team-switch {
	float: left;
	width: 282px;
	height: 50px;
	margin-top: 16px;
	color: @main-logo-color;
	&__toggle {
		width: 28px;
		height: 28px;
		border: 1px solid white;
		margin-top: 10px;
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.45);
		cursor: pointer;
		transition: 0.2s ease-out;
		&:hover {
			background: rgba(255, 255, 255, 0.65);
		}
	}
	&__wrapper-side {
		&_radiant {
			float: left;
			margin-left: 10px;
		}
		&_dire {
			float: right;
			margin-right: 10px;
			& .team-switch__toggle {
				margin-left: 4px;
			}
		}
	}
	&__clear-pick {
		float: left;
		margin: 35px 0 0 50px;
	}
}

.button {
	border: 1px solid @main-logo-color;
	color: @main-logo-color;
	background: transparent;
	border-radius: 2px;
	cursor: pointer;
	transition: 0.2s ease-out;
	outline: none;
	&:hover {
		background: rgba(255, 255, 255, 0.45);
	}
}

.hero {
	float: left;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid rgba(255, 255, 255, 0.45);
	width: 92px;
	height: 120px;
	margin: 0 3px 3px 0;
	border-radius: @border-radius;
	background: url('/img/hero/dota.jpg') no-repeat;
	color: white;
	&:last-child {
		margin-right: 0;
	}
	&:hover {
		& .hero {
			&__button {
				&_top {
					top: 3px;
				}
				&_bottom {
					top: 93px;
				}
			}
			&__toggle-relation {
				&_right {
					right: 5px;
				}
				&_left {
					left: 5px;
				}
			}
		}

	}
	&__button {
		position: absolute;
		border: 1px solid white;
		width: 24px;
		height: 20px;
		border-radius: @border-radius;
		text-align: center;
		line-height: 18px;
		background-color: rgba(255, 255, 255, 0.45);
		cursor: pointer;
		transition: 0.2s ease-out;
		&:hover {
			background: rgba(255, 255, 255, 0.65);
		}
		&_top {
			top: -22px;
			&.green {
				top: 3px;
			}
			&.red {
				top: 3px;
			}
		}
		&_right {
			right: 3px;
		}
		&_bottom {
			top: 118px;
			&.checked {
				top: 93px;
			}
		}
		&_left {
			left: 3px;
		}
		&_center {
			left: 32px;
		}
	}
	&__toggle-relation {
		position: absolute;
		border: 1px solid white;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.45);
		cursor: pointer;
		transition: 0.2s ease-out;
		&_ally {
			top: 33px;
		}
		&_enemy {
			top: 64px;
		}
		&_left {
			left: -23px;
			&.checked {
				left: 5px;
			}
		}
		&_right {
			right: -23px;
			&.checked {
				right: 5px;
			}
		}
	}
	&.hero-self {
		& .hero {
			&__toggle-relation {
				display: none;
			}
		}
	}
}

.hero-settings {
	&__name {
		padding: 25px 0 0;
		margin-left: 100px;
	}
	&__return-to-pick {
		margin: 24px 0 0 5px;
	}
}

.hero-list {
	margin-right: -3px;
	&__hero {
		opacity: 0.25;
	}
	&_mode {
		&_pick {
			& .hero {
				&__button {
					display: block;
				}
				&__toggle-relation {
					display: none;
				}
			}
			& .recommendation {
				opacity: 1;
			}
			& .banned {
				opacity: 0.25;
			}
			& .picked {
				opacity: 0.25;
			}
		}
		&_config {
			& .hero {
				&__button {
					display: none !important;
				}
				&__toggle-relation {
					display: block;
				}
			}
			& .tuned {
				opacity: 1;
			}
		}
		&_search {
			& .recommendation {
				opacity: 0.25;
			}
			& .tuned {
				opacity: 0.25;
			}
			& .found {
				opacity: 1;
			}
		}
	}
}

a {
	color: @main-button-color;
}

.call-auth {
	margin: 60px 0;
	&__button {
		outline: none;
		margin: 10px 0 20px;
		cursor: pointer;
	}
	&__focus_on {
		color: @main-logo-color;
	}
}

.top-steam-menu {
	float: right;
	margin: 10px 0 0 0;
	&__item {
		display: inline-block;
		margin: 0 5px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.red {
	border-color: rgba(255, 255, 255, 0.45);
	background-color: rgba(255, 0, 0, 0.45) !important;
	&:hover {
		background-color: rgba(255, 0, 0, 0.65) !important;
	}
}

.green {
	border-color: rgba(255, 255, 255, 0.45);
	background-color: rgba(0, 255, 0, 0.45) !important;
	&:hover {
		background-color: rgba(0, 255, 0, 0.65) !important;
	}
}

.clear {
	clear: both;
	margin-bottom: 20px;
}

.right {
	float: right;
}

.hidden {
	display: none !important;
}

.checked {
	display: block !important;
	background-color: @main-logo-color !important;
	border-color: rgba(255, 255, 255, 0.45) !important;
}

.how-use {
	padding-top: 30px;
	line-height: 1.6em;
	&__header {
		color: @main-logo-color;
	}
	&__step {
		margin: 12px 0;
	}
	&__button {
		display: inline-block;
		border: 1px solid white;
		margin: 0 5px;
		text-align: center;
		line-height: 18px;
		background-color: rgba(255, 255, 255, 0.45);
		cursor: pointer;
		transition: 0.2s ease-out;
		&:hover {
			background: rgba(255, 255, 255, 0.65);
		}
		&_square {
			width: 24px;
			height: 20px;
			border-radius: @border-radius;
		}
		&_circle_small {
			margin-bottom: -6px;
			width: 20px;
			height: 20px;
			border-radius: 50%;
		}
		&_circle_big {
			margin-bottom: -14px;
			width: 28px;
			height: 28px;
			border-radius: 50%;
			background-color: @main-logo-color;
			&:hover {
				background-color: @main-logo-color;
			}
		}
	}
}

.search-hero {
	box-sizing: border-box;
	padding: 2px 5px;
	border: 1px solid rgba(255, 255, 255, 0.45);
	width: 187px;
	outline: none;
	background-color: @main-background-color;
	color: white;
	font-family: OpenSansRegular;
	font-size: 14px;
}

.found {
	opacity: 1;
}

.info-score {
	&__item {
		&_good {
			margin-left: 12px;
			color: rgba(0, 255, 0, 0.45);
		}
		&_bad {
			margin-left: 12px;
			color: rgba(255, 0, 0, 0.45);
		}
		&_key {
			display: inline;
			color: @main-logo-color;
		}
	}
}

.video-teach {
	margin: 40px 0;
	&__video {
		width: 560px;
		height: 315px;
	}
}

