<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Goltana</title>
		<link rel="stylesheet" type="text/css" href="/styles.css">
	</head>
	<body class="body">
		<header class="header">
			<div class="header_inner {% if player.steam.id is defined %}header_fixed{% endif %}">
				{% if player.steam.id is defined %}
					<div class="top-steam-menu">
						<span class="top-steam-menu__item">{{ player.steam.nickname }}</span>
						<span class="top-steam-menu__item"><img src="{{ player.steam.avatar }}" alt=""></span>
						<span class="top-steam-menu__item"><a href="/?logout">выйти</a></span>
					</div>
				{% endif %}
				<h1 class="header__logo">Goltana</h1>
				{% if player.steam.id is not defined %}
					<form action="/?login" method="post">
						<div class="call-auth">
							<h2>Что это</h2>
							<p>Goltana - это бесплатное приложение для аналитики своих пиков в игре <a href="http://store.steampowered.com/app/570/Dota_2/?l=russian">DOTA 2</a>.
								<br>Пользуйтесь и вы будете выигрывать игру уже на стадии выбора героев.
							</p>
							<h2>Как пользоваться</h2>
							<p>Настройте своих сигнатурных героев под себя и получайте подсказки по пикам.
								<br>Подробности в видео.
							</p>
							<div class="video-teach">
								<iframe class="video-teach__video" src="https://www.youtube.com/embed/EqVupl9UFGQ" frameborder="0" allowfullscreen></iframe>
							</div>
							<h2>Авторизация</h2>
							<p>Знаю, как лень регистрироваться на сайтах,
								<br>поэтому авторизация через ваш Steam-аккаунт
								<br>при этом Goltana сохранит и прявяжет все настройки к Steam-аккаунту.
							</p>
							<input
								class="call-auth__button"
								type="image"
								src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_landing.png" value="Steam"
							>
							<h2>Связаться с автором</h2>
							<p>Чтобы оставить пожелания по работе приложения,
								<br>или просто высказать мнение, пишите <a href="http://steamcommunity.com/id/lub1s">автору в Steam</a>
							</p>
						</div>
					</form>
				{% else %}
					<div id="js-left-team" data-team-side="left">
						{% for i in 0..4 %}
							<div class="hero" data-hero-team-dom-number="{{ i }}" data-hero-list-dom-number="">
								<div class="js-remove-from-pick hidden hero__button hero__button_top hero__button_right red" title="удалить">Х</div>
								<div data-move-to-team-side="right" class="js-move-to-another-team hidden hero__button hero__button_bottom hero__button_right" title="в силы тьмы">&rang;&rang;</div>
							</div>
						{% endfor %}
						<div id="js-team-switch" class="team-switch">
							<div class="team-switch__wrapper-side_radiant">
								Свет
								<div class="team-switch__toggle checked" title="моя команда"></div>
							</div>
							<button class="js-clear-pick team-switch__clear-pick button">Очистить пик</button>
							<div class="team-switch__wrapper-side_dire">
								Тьма
								<div class="team-switch__toggle" title="вражеская команда"></div>
							</div>
						</div>
					</div>
					<div id="js-right-team" class="right" data-team-side="right">
						{% for i in 0..4 %}
							<div class="hero" data-hero-team-dom-number="{{ i }}" data-hero-list-dom-number="">
								<div class="js-remove-from-pick hidden hero__button hero__button_top hero__button_right red" title="удалить">Х</div>
								<div data-move-to-team-side="left" class="js-move-to-another-team hidden hero__button hero__button_bottom hero__button_left" title="в силы света">&lang;&lang;</div>
							</div>
						{% endfor %}
					</div>
					<div id="js-hero-settings" class="hidden hero-settings">
						<div class="hero"></div>
						<div class="hero-settings__name">Clockwerk</div>
						<button id="js-return-to-pick" class="button hero-settings__return-to-pick">Вернуться к пикам</button>
					</div>
					<div class="clear"></div>
				{% endif %}
			</div>
		</header>
		<main class="main">
			{% if player.steam.id is defined %}
				<div id="js-hero-list" class="hero-list hero-list_mode_pick">
					{% for item in heroList %}
						<div
							class="hero hero-list__hero"
							data-hero-id="{{ item.id }}"
							data-hero-name="{{ item.hero_name }}"
							data-hero-list-dom-number="{{ loop.index0 }}"
							style="background-image: url('/img/hero/{{ item.hero_name | replace({' ': '_'}) | lower }}.jpg')"
							title="{{ item.hero_name }}"
						>
							<div class="js-tune-hero hero__button hero__button_top hero__button_right" title="настроить героя">Н</div>
							<div class="js-score hero__button hero__button_top hero__button_left" title="количество баллов">0</div>
							<div class="js-add-to-left-team hero__button hero__button_bottom hero__button_left" title="в силы света">&lang;&lang;</div>
							<div class="js-add-to-ban hero__button hero__button_bottom hero__button_center" title="бан">Б</div>
							<div class="js-add-to-right-team hero__button hero__button_bottom hero__button_right" title="в силы тьмы">&rang;&rang;</div>
							<div data-key="ally" data-value="good" class="js-relation js-relation-ally-good hero__toggle-relation hero__toggle-relation_ally hero__toggle-relation_left" title="сюзник: хорошо"></div>
							<div data-key="ally" data-value="bad" class="js-relation js-relation-ally-bad hero__toggle-relation hero__toggle-relation_ally hero__toggle-relation_right" title="союзник: плохо"></div>
							<div data-key="enemy" data-value="good" class="js-relation js-relation-enemy-good hero__toggle-relation hero__toggle-relation_enemy hero__toggle-relation_left" title="враг: хорошо"></div>
							<div data-key="enemy" data-value="bad" class="js-relation js-relation-enemy-bad hero__toggle-relation hero__toggle-relation_enemy hero__toggle-relation_right" title="враг: плохо"></div>
						</div>
					{% endfor %}
				</div>
				<div class="clear"></div>
			{% endif %}
		</main>
		{% if player.steam.id is defined %}
			<footer class="footer">
				<div class="footer_inner footer_fixed">
					<div class="right">
						<input id="js-search-hero" class="search-hero" type="text" value="" placeholder="Найти героя">
					</div>
					<div class="js-info-score info-score hidden">
						<span class="js-info-score__hero"></span>:
						<span class="info-score__item info-score__item_key">союзники:</span>
						<span class="js-info-score__heroes"></span>
					</div>
					<div class="js-info-score info-score hidden">
						<span class="js-info-score__hero"></span>:
						<span class="info-score__item info-score__item_key">враги:</span>
						<span class="js-info-score__heroes"></span>
					</div>
				</div>
			</footer>
			<script>
				'use strict';
				var jsonHeroList = '{{ heroList|json_encode|raw }}';
				var jsonRelationList = '{{ relationList|json_encode|raw }}';
			</script>
			<script src="bundle.js"></script>
		{% endif %}
	</body>
</html>
